<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href=" {% static 'GIRng/css/mycss.css' %} ">

    <title>Index</title>
</head>
<body>
    
    <div class="container">
        <div class="center">
            <button class="block">
                <a href="{% url 'GIRng:randomize' %}">Generate Random Team</a>
            </button>
        </div>
        <div>
            <button class="block">
                <a href="{% url 'GIRng:team' %}">Add Team</a>
            </button>
        </div>
        <div>
            <button class="block">
                <a href="">Elastic Search</a>
            </button>
        </div>
        <div>
            <button class="block">
                <a href=" {% url 'GIRng:characters-list' %} ">Characters</a>
            </button>
        </div><div>
            <button class="block">
                <a href=" {% url 'GIRng:team-list' %} ">Teams</a>
            </button>
        </div>
    </div>
    

    
</body>
</html>