body {
    background-color: lightblue;
}

button {
    background-color: yellow;
}

form {
    background-color: pink;
    width: 20%;
    
}

div {
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}