body {
    background-color: lightblue;
}

button {
    background-color: beige;
    border-style: solid;
}

form {
    background-color: pink;
    
}

div.container {
    background-color: blueviolet;
    min-height: 10em;  
    position: relative;
}

div.center {
    display: flex;
    justify-content: center;
}

.block {
    display: block;
    width: 100%;
    /* border: none; */
    background-color: yellow;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

div {
    margin: 10px;
}

header {
    
}